---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import Posts from "../../components/Posts.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { slugify, deslugify } from "../../utils/slug";

// Define the BlogFrontmatter type or import it if defined elsewhere
type BlogFrontmatter = {
  title: string;
  description: string;
  pubDate: string | Date;
  updatedDate?: Date;
  heroImage?: string;
  tags?: string[];
  release_year?: string | number;
  poster_url?: string;
  created_at?: string | Date;
};

export async function getStaticPaths() {
  const allPosts = await getCollection("products");
  const uniqueTags = [
    ...new Set(allPosts.map((post) => post.data.tags).flat()),
  ];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.data.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout title={tag}>
  <p class="text-2xl font-bold mb-4 capitalize">Posts tagged with {tag}</p>
  <ul
    class="post-list post-list grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-4 gap-4 p-4"
  >
    {
      posts.map((post) => (
        <li class="post-item border-base-200 border shadow-sm flex flex-col">
          <div class="card bg-base-100 w-full shadow-sm flex flex-col flex-grow">
            <figure class="relative group w-full h-[250px] overflow-hidden">
              {/* Blurry background */}
              <div
                class="absolute inset-0 bg-cover bg-center filter blur-sm scale-110"
                style={{ backgroundImage: `url(${post.data.images[0]})` }}
              />
              <img
                src={post.data.images[0]}
                alt={post.data.title}
                class="relative w-full h-[250px] object-contain"
                onerror="this.onerror=null; this.src='https://placehold.co/600x350?text=Product';"
              />
              <a href={`/products/${post.id}`}>
                <div class="absolute inset-0 flex items-center justify-center bg-black opacity-0 group-hover:opacity-60 group-hover:cursor-pointer transition-opacity duration-300">
                  <span class="text-white font-bold text-lg">View Product</span>
                </div>
              </a>
            </figure>
          </div>
        </li>
      ))
    }
  </ul>
</BaseLayout>
