---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { format } from "timeago.js";

const { title, description, image, time } = Astro.props;
---

<html lang="en" prefix="og: https://ogp.me/ns#">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <BaseHead title={title} image={image} description={description} />
  </head>
  <body class="min-h-screen flex flex-col">
    <Header />

    {
      title && (
        <div class="hero py-6 lg:py-8">
          <div class="hero-content lg:text-center">
            <div class="w-full grid gap-2">
              <h1 class="text-2xl lg:text-3xl font-bold">{title}</h1>
              {time && (
                <>
                  <time
                    class="post-date mt-auto text-sm text-gray-500"
                    datetime={time}
                  >
                    {format(time)}
                  </time>
                </>
              )}

              {description && (
                <>
                  <p class="text-base-content/70">{description}</p>
                </>
              )}
            </div>
          </div>
        </div>
      )
    }

    <main class="w-full bg-base-100 flex-grow py-4">
      <slot />
    </main>
    <Footer />
  </body>
</html>

